# Byte-compiled / cache
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Packaging / PyInstaller
build/
dist/
*.egg-info/
*.spec

# Coverage
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store
